<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Backstage</title>

  <link rel="stylesheet" href="../styles/backstage.min.css" />
  <script>
  	(function() {
			var html = document.getElementsByTagName('html')[0];
			html.className = html.className.replace('no-js', 'js');
		})();
	</script>
</head>
<body>
	<div class="container">
		<div class="accordion grid-5"
			data-active-head-class="is-accordion-head_on"
			data-show-active-only="true">
			<h4 class="accordion-head is-accordion-head_on"
				data-toggle="accordion"
				data-parent=".accordion">iPod shuffle</h4>
			<div class="accordion-body on">
				iPod shuffle 色彩缤纷，戴上身就走。现有按键、VoiceOver 与播放列表功能，将几代 iPod shuffle 精华融为一体。由于主体由一块铝金属精密打造，因此 iPod shuffle 不仅手感坚实、外形精致，而且经久耐用。多彩的颜色让它成为绝好的时尚配饰。
			</div>
			<h4 class="accordion-head"
				data-toggle="accordion"
				data-parent=".accordion">iPod nano</h4>
			<div class="accordion-body">
				全新 iPod nano 薄度仅为 5.4 毫米，几乎如信用卡般大小，比以往所有的 iPod 都更加纤薄。 2.5 英寸 Multi-Touch 显示屏大小几乎是上一代 iPod nano 显示屏的两倍，因此，你钟爱的音乐、照片和视频都能呈现得更加清晰。按钮可让你快速播放、暂停、切换歌曲，也可调节音量。平滑的全新电镀铝金属设计，令 iPod nano 的触感与其音质一样出色。 如果没有绚丽夺目，难以取舍的缤纷色彩，iPod nano 也就不是 iPod nano 了。
			</div>
			<h4 class="accordion-head"
				data-toggle="accordion"
				data-parent=".accordion">iPod touch</h4>
			<div class="accordion-body">
				这是第一次，iPod touch 采用与 MacBook 产品线同类型的电镀铝金属打造而成。其制造工艺也如出一辙：使用一整块铝金属打造机身。而你对 iPod touch 的第一印象，将是它那几乎可以忽视的重量，接着是极其光滑的表层做工，然后是所有 Apple 独有的细节，如高度抛光的斜面边缘。iPod touch 采用硬度极高的一种铝金属制成。这不仅为其带来令人赞叹的外观和触感，它还足够坚固，能伴你度过许多狂欢之夜。
			</div>
		</div>
  </div><!-- / .container -->

  <script src="../scripts/jquery-1.9.1.min.js"></script>
  <script src="../scripts/jquery.accordion.js"></script>
</body>
</html>
