<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <style>
    /* Demo 样式 */
    table.calendar {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <table class="calendar">
      <thead>
        <tr>
          <th class="calendar_weekday">星期一</th>
          <th class="calendar_weekday">星期二</th>
          <th class="calendar_weekday">星期三</th>
          <th class="calendar_weekday">星期四</th>
          <th class="calendar_weekday">星期五</th>
          <th class="calendar_weekday">星期六</th>
          <th class="calendar_weekday">星期日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day">
            <div class="calendar_day_date">1</div>
            <div class="calendar_day_content">
              <span>上午：</span>
              <span class="name">行程</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="calendar_day">
            <div class="calendar_day_date">2</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">3</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">4</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">5</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">6</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">7</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">8</div>
            <div class="calendar_day_content">
              <span>上午：</span>
              <span class="name">行程</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="calendar_day">
            <div class="calendar_day_date">9</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">10</div>
            <div class="calendar_day_content">
              <span>上午：</span>
              <span class="name">行程</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">11</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">12</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">13</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">14</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">15</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="calendar_day">
            <div class="calendar_day_date">16</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">17</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">18</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">19</div>
            <div class="calendar_day_content">
              <span>上午：</span>
              <span class="name">行程</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">20</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">21</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">22</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="calendar_day">
            <div class="calendar_day_date">23</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">24</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">25</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">26</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">27</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">28</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">29</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="calendar_day">
            <div class="calendar_day_date">30</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
            </div>
          </td>
          <td class="calendar_day">
            <div class="calendar_day_date">31</div>
            <div class="calendar_day_content">
              <span>上午：</span>
            </div>
            <div class="calendar_day_content">
              <span>下午：</span>
              <span class="name">行程</span>
            </div>
          </td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
          <td class="calendar_day"></td>
        </tr>
      </tbody>
    </table><!-- /.calendar -->
  </div><!-- / .container -->
</body>
</html>
