<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <style>
    /* Demo 样式 */
    .demo-icons {
      margin: 0;
      padding: 0;
    }
    .demo-icons li {
      float: left;
      list-style: none;
      width: 25%;
    }
  </style>
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <h2><a href="http://glyphicons.com/" target="_blank">Glyphicons</a> 图标</h2>
    <ul class="demo-icons clearfix">
      <li><i class="icon icon-glass"></i> icon-glass</li>
      <li><i class="icon icon-music"></i> icon-music</li>
      <li><i class="icon icon-search"></i> icon-search</li>
      <li><i class="icon icon-envelope"></i> icon-envelope</li>
      <li><i class="icon icon-heart"></i> icon-heart</li>
      <li><i class="icon icon-star"></i> icon-star</li>
      <li><i class="icon icon-star-empty"></i> icon-star-empty</li>
      <li><i class="icon icon-user"></i> icon-user</li>
      <li><i class="icon icon-film"></i> icon-film</li>
      <li><i class="icon icon-th-large"></i> icon-th-large</li>
      <li><i class="icon icon-th"></i> icon-th</li>
      <li><i class="icon icon-th-list"></i> icon-th-list</li>
      <li><i class="icon icon-ok"></i> icon-ok</li>
      <li><i class="icon icon-remove"></i> icon-remove</li>
      <li><i class="icon icon-zoom-in"></i> icon-zoom-in</li>
      <li><i class="icon icon-zoom-out"></i> icon-zoom-out</li>
      <li><i class="icon icon-off"></i> icon-off</li>
      <li><i class="icon icon-signal"></i> icon-signal</li>
      <li><i class="icon icon-cog"></i> icon-cog</li>
      <li><i class="icon icon-trash"></i> icon-trash</li>
      <li><i class="icon icon-home"></i> icon-home</li>
      <li><i class="icon icon-file"></i> icon-file</li>
      <li><i class="icon icon-time"></i> icon-time</li>
      <li><i class="icon icon-road"></i> icon-road</li>
      <li><i class="icon icon-download-alt"></i> icon-download-alt</li>
      <li><i class="icon icon-download"></i> icon-download</li>
      <li><i class="icon icon-upload"></i> icon-upload</li>
      <li><i class="icon icon-inbox"></i> icon-inbox</li>

      <li><i class="icon icon-play-circle"></i> icon-play-circle</li>
      <li><i class="icon icon-repeat"></i> icon-repeat</li>
      <li><i class="icon icon-refresh"></i> icon-refresh</li>
      <li><i class="icon icon-list-alt"></i> icon-list-alt</li>
      <li><i class="icon icon-lock"></i> icon-lock</li>
      <li><i class="icon icon-flag"></i> icon-flag</li>
      <li><i class="icon icon-headphones"></i> icon-headphones</li>
      <li><i class="icon icon-volume-off"></i> icon-volume-off</li>
      <li><i class="icon icon-volume-down"></i> icon-volume-down</li>
      <li><i class="icon icon-volume-up"></i> icon-volume-up</li>
      <li><i class="icon icon-qrcode"></i> icon-qrcode</li>
      <li><i class="icon icon-barcode"></i> icon-barcode</li>
      <li><i class="icon icon-tag"></i> icon-tag</li>
      <li><i class="icon icon-tags"></i> icon-tags</li>
      <li><i class="icon icon-book"></i> icon-book</li>
      <li><i class="icon icon-bookmark"></i> icon-bookmark</li>
      <li><i class="icon icon-print"></i> icon-print</li>
      <li><i class="icon icon-camera"></i> icon-camera</li>
      <li><i class="icon icon-font"></i> icon-font</li>
      <li><i class="icon icon-bold"></i> icon-bold</li>
      <li><i class="icon icon-italic"></i> icon-italic</li>
      <li><i class="icon icon-text-height"></i> icon-text-height</li>
      <li><i class="icon icon-text-width"></i> icon-text-width</li>
      <li><i class="icon icon-align-left"></i> icon-align-left</li>
      <li><i class="icon icon-align-center"></i> icon-align-center</li>
      <li><i class="icon icon-align-right"></i> icon-align-right</li>
      <li><i class="icon icon-align-justify"></i> icon-align-justify</li>
      <li><i class="icon icon-list"></i> icon-list</li>

      <li><i class="icon icon-indent-left"></i> icon-indent-left</li>
      <li><i class="icon icon-indent-right"></i> icon-indent-right</li>
      <li><i class="icon icon-facetime-video"></i> icon-facetime-video</li>
      <li><i class="icon icon-picture"></i> icon-picture</li>
      <li><i class="icon icon-pencil"></i> icon-pencil</li>
      <li><i class="icon icon-map-marker"></i> icon-map-marker</li>
      <li><i class="icon icon-adjust"></i> icon-adjust</li>
      <li><i class="icon icon-tint"></i> icon-tint</li>
      <li><i class="icon icon-edit"></i> icon-edit</li>
      <li><i class="icon icon-share"></i> icon-share</li>
      <li><i class="icon icon-check"></i> icon-check</li>
      <li><i class="icon icon-move"></i> icon-move</li>
      <li><i class="icon icon-step-backward"></i> icon-step-backward</li>
      <li><i class="icon icon-fast-backward"></i> icon-fast-backward</li>
      <li><i class="icon icon-backward"></i> icon-backward</li>
      <li><i class="icon icon-play"></i> icon-play</li>
      <li><i class="icon icon-pause"></i> icon-pause</li>
      <li><i class="icon icon-stop"></i> icon-stop</li>
      <li><i class="icon icon-forward"></i> icon-forward</li>
      <li><i class="icon icon-fast-forward"></i> icon-fast-forward</li>
      <li><i class="icon icon-step-forward"></i> icon-step-forward</li>
      <li><i class="icon icon-eject"></i> icon-eject</li>
      <li><i class="icon icon-chevron-left"></i> icon-chevron-left</li>
      <li><i class="icon icon-chevron-right"></i> icon-chevron-right</li>
      <li><i class="icon icon-plus-sign"></i> icon-plus-sign</li>
      <li><i class="icon icon-minus-sign"></i> icon-minus-sign</li>
      <li><i class="icon icon-remove-sign"></i> icon-remove-sign</li>
      <li><i class="icon icon-ok-sign"></i> icon-ok-sign</li>

      <li><i class="icon icon-question-sign"></i> icon-question-sign</li>
      <li><i class="icon icon-info-sign"></i> icon-info-sign</li>
      <li><i class="icon icon-screenshot"></i> icon-screenshot</li>
      <li><i class="icon icon-remove-circle"></i> icon-remove-circle</li>
      <li><i class="icon icon-ok-circle"></i> icon-ok-circle</li>
      <li><i class="icon icon-ban-circle"></i> icon-ban-circle</li>
      <li><i class="icon icon-arrow-left"></i> icon-arrow-left</li>
      <li><i class="icon icon-arrow-right"></i> icon-arrow-right</li>
      <li><i class="icon icon-arrow-up"></i> icon-arrow-up</li>
      <li><i class="icon icon-arrow-down"></i> icon-arrow-down</li>
      <li><i class="icon icon-share-alt"></i> icon-share-alt</li>
      <li><i class="icon icon-resize-full"></i> icon-resize-full</li>
      <li><i class="icon icon-resize-small"></i> icon-resize-small</li>
      <li><i class="icon icon-plus"></i> icon-plus</li>
      <li><i class="icon icon-minus"></i> icon-minus</li>
      <li><i class="icon icon-asterisk"></i> icon-asterisk</li>
      <li><i class="icon icon-exclamation-sign"></i> icon-exclamation-sign</li>
      <li><i class="icon icon-gift"></i> icon-gift</li>
      <li><i class="icon icon-leaf"></i> icon-leaf</li>
      <li><i class="icon icon-fire"></i> icon-fire</li>
      <li><i class="icon icon-eye-open"></i> icon-eye-open</li>
      <li><i class="icon icon-eye-close"></i> icon-eye-close</li>
      <li><i class="icon icon-warning-sign"></i> icon-warning-sign</li>
      <li><i class="icon icon-plane"></i> icon-plane</li>
      <li><i class="icon icon-calendar"></i> icon-calendar</li>
      <li><i class="icon icon-random"></i> icon-random</li>
      <li><i class="icon icon-comment"></i> icon-comment</li>
      <li><i class="icon icon-magnet"></i> icon-magnet</li>

      <li><i class="icon icon-chevron-up"></i> icon-chevron-up</li>
      <li><i class="icon icon-chevron-down"></i> icon-chevron-down</li>
      <li><i class="icon icon-retweet"></i> icon-retweet</li>
      <li><i class="icon icon-shopping-cart"></i> icon-shopping-cart</li>
      <li><i class="icon icon-folder-close"></i> icon-folder-close</li>
      <li><i class="icon icon-folder-open"></i> icon-folder-open</li>
      <li><i class="icon icon-resize-vertical"></i> icon-resize-vertical</li>
      <li><i class="icon icon-resize-horizontal"></i> icon-resize-horizontal</li>
      <li><i class="icon icon-hdd"></i> icon-hdd</li>
      <li><i class="icon icon-bullhorn"></i> icon-bullhorn</li>
      <li><i class="icon icon-bell"></i> icon-bell</li>
      <li><i class="icon icon-certificate"></i> icon-certificate</li>
      <li><i class="icon icon-thumbs-up"></i> icon-thumbs-up</li>
      <li><i class="icon icon-thumbs-down"></i> icon-thumbs-down</li>
      <li><i class="icon icon-hand-right"></i> icon-hand-right</li>
      <li><i class="icon icon-hand-left"></i> icon-hand-left</li>
      <li><i class="icon icon-hand-up"></i> icon-hand-up</li>
      <li><i class="icon icon-hand-down"></i> icon-hand-down</li>
      <li><i class="icon icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
      <li><i class="icon icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
      <li><i class="icon icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
      <li><i class="icon icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
      <li><i class="icon icon-globe"></i> icon-globe</li>
      <li><i class="icon icon-wrench"></i> icon-wrench</li>
      <li><i class="icon icon-tasks"></i> icon-tasks</li>
      <li><i class="icon icon-filter"></i> icon-filter</li>
      <li><i class="icon icon-briefcase"></i> icon-briefcase</li>
      <li><i class="icon icon-fullscreen"></i> icon-fullscreen</li>
    </ul>
  </div><!-- / .container -->
</body>
</html>
