<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <!-- Tab Demo 1 -->
    <div>
      <a class="tab-title is-tab-title_on"
        data-toggle="tab"
        data-active-title-class="is-tab-title_on"
        href="#tab-pane-1-1">Tab-1 1</a>
      <a class="tab-title"
        data-toggle="tab"
        data-active-title-class="is-tab-title_on"
        href="#tab-pane-1-2">Tab-1 2</a>
      <a class="tab-title"
        data-toggle="tab"
        data-active-title-class="is-tab-title_on"
        href="#tab-pane-1-3">Tab-1 3</a>
    </div>
    <div>
      <div class="tab-pane on" id="tab-pane-1-1">Tab-1 Pane 1</div>
      <div class="tab-pane" id="tab-pane-1-2">Tab-1 Pane 2</div>
      <div class="tab-pane" id="tab-pane-1-3">Tab-1 Pane 3</div>
    </div>
    <!-- / Tab Demo 1 -->

    <!-- Tab Demo 2 -->
    <div>
      <h3 class="tab-title is-tab-title_on">
        <a data-toggle="tab"
          data-indicator="h3"
          data-active-title-class="is-tab-title_on"
          href="#tab-pane-2-1">Tab-2 1</a>
      </h3>
      <h3 class="tab-title">
        <a data-toggle="tab"
          data-indicator="h3"
          data-active-title-class="is-tab-title_on"
          href="#tab-pane-2-2">Tab-2 2</a>
      </h3>
      <h3 class="tab-title">
        <a data-toggle="tab"
          data-indicator="h3"
          data-active-title-class="is-tab-title_on"
          href="#tab-pane-2-3">Tab-2 3</a>
      </h3>
    </div>
    <div>
      <div class="tab-pane on" id="tab-pane-2-1">Tab-2 Pane 1</div>
      <div class="tab-pane" id="tab-pane-2-2">Tab-2 Pane 2</div>
      <div class="tab-pane" id="tab-pane-2-3">Tab-2 Pane 3</div>
    </div>
    <!-- / Tab Demo 2 -->
  </div><!-- / .container -->

  <script src="../scripts/lib/require.js"></script>
  <script>
    require(['../scripts/config'], function(config) {
      require(['app/main/tab']);
    });
  </script>
</body>
</html>
