<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <div class="panel panel-info grid-5">
      <h5 class="panel_head">片状选项卡一</h5>
      <div class="panel_body">
        <div class="tab-pill">
          <a class="tab_title is-tab_title-on"
            data-toggle="tab"
            data-active-title-class="is-tab_title-on"
            href="#tab_pane-1-1"
            hidefocus>Remote</a>
          <span class="rule-inline">|</span>
          <a class="tab_title"
            data-toggle="tab"
            data-active-title-class="is-tab_title-on"
            href="#tab_pane-1-2"
            hidefocus>Rework</a>
          <span class="rule-inline">|</span>
          <a class="tab_title"
            data-toggle="tab"
            data-active-title-class="is-tab_title-on"
            href="#tab_pane-1-3"
            hidefocus>Getting Real</a>
        </div>

        <hr class="rule">

        <div>
          <div class="tab_pane on" id="tab_pane-1-1">
            <p>The “work from home” phenomenon is thoroughly explored in this illuminating new book from bestselling 37signals founders Fried and Hansson, who point to the surging trend of employees working from home (and anywhere else) and explain the challenges and unexpected benefits. Most important, they show why – with a few controversial exceptions such as Yahoo -- more businesses will want to promote this new model of getting things done.</p>
          </div>
          <div class="tab_pane" id="tab_pane-1-2">
            <p>"Jason Fried and David Hansson follow their own advice in REWORK, laying bare the surprising philosophies at the core of 37signals' success and inspiring us to put them into practice. There's no jargon or filler here just hundreds of brilliantly simple rules for success. Part entrepreneurial handbook for the twenty-first century, part manifesto for anyone wondering how work really works in the modern age, REWORK is required reading for anyone tired of business platitudes."</p>
          </div>
          <div class="tab_pane" id="tab_pane-1-3">
            <p>Getting Real details the business, design, programming, and marketing principles of 37signals. The book is packed with keep-it-simple insights, contrarian points of view, and unconventional approaches to software design. This is not a technical book or a design tutorial, it's a book of ideas. Anyone working on a web app - including entrepreneurs, designers, programmers, executives, or marketers - will find value and inspiration in this book. 37signals used the Getting Real process to launch five successful web-based applications (Basecamp, Campfire, Backpack, Writeboard, Ta-da List), and Ruby on Rails, an open-source web application framework, in just two years with no outside funding, no debt, and only 7 people (distributed across 7 time zones). Over 500,000 people around the world use these applications to get things done. Now you can find out how they did it and how you can do it too. It's not as hard as you think if you Get Real.</p>
          </div>
        </div>
      </div>
    </div><!-- / .tab-pill Demo 1 -->

    <div class="panel panel-info grid-5">
      <h5 class="panel_head">片状选项卡二</h5>
      <div class="panel_body">
        <div class="tab-pill">
          <h4 class="tab_title is-tab_title-on">
            <a data-toggle="tab"
              data-indicator="h4"
              data-active-title-class="is-tab_title-on"
              href="#tab_pane-2-1"
              hidefocus>四级标题一</a>
          </h4>
          <span class="rule-inline">|</span>
          <h4 class="tab_title">
            <a data-toggle="tab"
              data-indicator="h4"
              data-active-title-class="is-tab_title-on"
              href="#tab_pane-2-2"
              hidefocus>四级标题二</a>
          </h4>
        </div>

        <hr class="rule">

        <div>
          <div class="tab_pane on" id="tab_pane-2-1">
            <p>设计到底是什么？作为一名从业二十余年并且具有世界影响的设计师，原研哉对自己提出了这样一个问题。为了给出自己的答案，他走了那么长的路，做了那么多的探索。</p>
            <p>“RE-DESIGN——二十一世纪的日常用品再设计”展真是一个有趣的展览，但又不仅仅是有趣，它分明是为我们揭示了“日常生活”所具有的无限可能性。若我们能以满怀新鲜的眼神去观照日常，“设计”的意义定会超越技术的层面，为我们的生活观和人生观注入力量。</p>
          </div>
          <div class="tab_pane" id="tab_pane-2-2">
            <p>在都市里一年，不过是大同小异的365天，和许多同龄人一样，吴非知道这生活不是自己想要的，但又不知道自己想要什么。偶然的机会，他知道有一种旅行，方法很贫穷，却可以改变人的一生：打工旅行。2010年4月，他辞职，带着200美元前往新西兰，开始了这段冒险的旅程。</p>
            <p>在新西兰，吴非干了十几份不同的工作：猎人的助手，监狱临时演员，日本餐厅厨师，猕猴桃果园摘果，葡萄园剪枝，大学清洁工……他在当地人家换宿，喂猪、劈材、除草，自由自在做农民。打工攒了钱，便去旅行。</p>
            <p>基督城、皇后镇、米尔福德峡湾、奥克兰、罗托鲁瓦……在这个天堂的国度里，人生是如此不同，生命还有无数种可能。他一个人去汤加丽罗国家公园徒步探险，还差点被大风吹走了。在苹果包装厂，他邂逅了现在的台湾女友。和爱人的环岛旅程，让他拥有了一段成人以后最无忧无虑的回忆。</p>
            <p>有些事一定要趁年轻的时候去干，如果不去做，永远也不知道能超越自己。</p>
          </div>
        </div>
      </div>
    </div><!-- / .tab-pill Demo 2 -->

    <!-- @todo -->
    <!-- <a id="trigger"
      class="button button-primary"
      data-toggle="tab"
      href="#tab_pane-1-2" title="点我点我~">Rework</a> -->
  </div><!-- / .container -->

  <script src="../scripts/lib/require.js"></script>
  <script>
    require(['../scripts/config'], function(config) {
      require(['app/main/tab']);
    });
  </script>
</body>
</html>
