<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <table class="table table-fluid">
      <caption>普通表格一</caption>
      <thead data-spy="fixedHead"
        data-wrapper="table"
        data-wrapper-class="table"
        data-target="#tbody-1">
        <tr>
          <th>ID</th>
          <th width="50">姓名</th>
          <th width="25">年龄</th>
          <th>证件类型</th>
          <th>证件号码</th>
          <th width="25">性别</th>
          <th width="90">联系电话</th>
          <th width="75">时间戳</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody-1" class="typo-center">
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="typo-right" colspan="12"></td>
        </tr>
      </tfoot>
    </table><!-- / .table -->

    <hr class="rule">

    <table class="table table-fluid">
      <caption>普通表格二</caption>
      <thead>
        <tr>
          <th colspan="2">日期</th>
          <th>2013-01-21</th>
          <th>2013-01-22</th>
          <th>2013-01-23</th>
          <th>2013-01-24</th>
          <th>2013-01-25</th>
          <th>2013-01-26</th>
          <th>2013-01-27</th>
        </tr>
        <tr>
          <th>上、下午</th>
          <th>时间段</th>
          <th>星期一</th>
          <th>星期二</th>
          <th>星期三</th>
          <th>星期四</th>
          <th>星期五</th>
          <th>星期六</th>
          <th>星期日</th>
        </tr>
      </thead>
      <tbody class="typo-center">
        <tr>
          <th rowspan="3">上午</th>
          <td>09:00-10:00</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>10:00-11:00</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>11:00-12:00</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <th rowspan="3">下午</th>
          <td>14:30-15:30</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>15:30-16:30</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>16:30-17:30</td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="typo-right" colspan="10"></td>
        </tr>
      </tfoot>
    </table><!-- / .table -->

    <hr class="rule">

    <table class="table table-striped table-fluid">
      <caption>条纹表格</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th width="50">姓名</th>
          <th width="25">年龄</th>
          <th>证件类型</th>
          <th>证件号码</th>
          <th width="25">性别</th>
          <th width="90">联系电话</th>
          <th width="75">时间戳</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="typo-center">
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="typo-right" colspan="12"></td>
        </tr>
      </tfoot>
    </table><!-- / .table-striped -->

    <hr class="rule">

    <table class="table table-bordered table-fluid">
      <caption>带边框表格</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th width="50">姓名</th>
          <th width="25">年龄</th>
          <th>证件类型</th>
          <th>证件号码</th>
          <th width="25">性别</th>
          <th width="90">联系电话</th>
          <th width="75">时间戳</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="typo-center">
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
        <tr>
          <td>1601063</td>
          <td>路人甲</td>
          <td>25</td>
          <td>身份证</td>
          <td>123456789123456789</td>
          <td>女</td>
          <td>12345678912</td>
          <td>
            2013-01-24<br />
            08:00-09:00<br />
          </td>
          <td>
            <a href="#">修改</a>
            <span class="rule-inline">|</span>
            <a href="#" class="typo-danger">删除</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="typo-right" colspan="12"></td>
        </tr>
      </tfoot>
    </table><!-- / .table-bordered -->
  </div><!-- / .container -->

  <div id="loading" style="display: none;">正在加载...</div><!-- / #loading -->

  <script src="../scripts/lib/require.js"></script>
  <script>
    require(['../scripts/config'], function(config) {
      require(['app/main/table']);
    });
  </script>
</body>
</html>
