<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Backstage</title>
  <link rel="stylesheet" href="../styles/backstage.css" />
  <style>
    /* Demo 样式 */
    .row {
      margin-bottom: 10px;
    }
  </style>
  <script>
    (function() {
      var html = document.getElementsByTagName('html')[0];
      html.className = html.className.replace('no-js', 'js');
    })();
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="panel panel-info grid grid-3">
        <h5 class="panel_head">标题</h5>
        <div class="panel_body">
          <h1>标题 1 <code>h1</code></h1>
          <h2>标题 2 <code>h2</code></h2>
          <h3>标题 3 <code>h3</code></h3>
          <h4>标题 4 <code>h4</code></h4>
          <h5>标题 5 <code>h5</code></h5>
          <h6>标题 6 <code>h6</code></h6>
        </div>
      </div>

      <div class="panel panel-info grid grid-6">
        <h5 class="panel_head">段落</h5>
        <div class="panel_body">
          <p>
            突然之间，人们就对字体着了迷。从无处不在的 Helvetica，到爱恨交织的 Comic Sans；从与世长存的 Baskerville，到昙花一现的 2010 Headline；从披头士字母 T，到莉莉·艾伦的字母 L；从 IBM 的打字「高尔夫球」，到孩子们 的「约翰牛印字套装」；从古登堡的第一款字体 Texura，到乔布斯的第一台 Macintosh。
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info grid grid-4">
        <h5 class="panel_head">语义</h5>
        <div class="panel_body">
          <ul>
            <li>普通文字</li>
            <li><strong>常规重要文字</strong> <code>strong</code></li>
            <li><strong class="typo-primary">着重重要文字</strong> <code>strong.typo-primary</code></li>
            <li><em>斜体文字</em> <code>em</code></li>
            <li class="typo-info">提示文字 <code>.typo-info</code></li>
            <li><small class="typo-info">小号提示文字</small> <code>small.typo-info</code></li>
            <li class="typo-success">成功文字 <code>.typo-success</code></li>
            <li class="typo-warning">警告文字 <code>.typo-warning</code></li>
            <li class="typo-danger">危险文字 <code>.typo-danger</code></li>
          </ul>
        </div>
      </div>

      <div class="panel panel-info grid grid-5">
        <h5 class="panel_head">排印</h5>
        <div class="panel_body">
          <p class="typo-left">文本居左 <code>.typo-left</code></p>
          <p class="typo-center">文本居中 <code>.typo-center</code></p>
          <p class="typo-right">文本居右 <code>.typo-right</code></p>

          <!-- <ul>
            <li>
              <span class="typo-capital">大写字母 capital</span> <code>.typo-capital</code>
            </li>
            <li>
              <div class="typo-ellipsis" style="width: 100px;">单行文本溢出省略号</div> <code>.typo-ellipsis</code>
            </li>
          </ul> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info grid grid-3">
        <h5 class="panel_head">有序列表</h5>
        <div class="panel_body">
          <ol>
            <li>列表项一</li>
            <li>列表项二</li>
            <li>列表项三</li>
            <li>列表项四</li>
            <li>列表项五</li>
            <li>列表项六</li>
            <li>列表项七</li>
            <li>列表项八</li>
            <li>列表项九</li>
            <li>列表项十</li>
          </ol>
        </div>
      </div>

      <div class="panel panel-info grid grid-3">
        <h5 class="panel_head">无序列表</h5>
        <div class="panel_body">
          <ul>
            <li>列表项一</li>
            <li>列表项二</li>
            <li>列表项三</li>
            <li>列表项四</li>
            <li>列表项五</li>
            <li>列表项六</li>
            <li>列表项七</li>
            <li>列表项八</li>
            <li>列表项九</li>
            <li>列表项十</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-info grid grid-3">
        <h5 class="panel_head">定义列表</h5>
        <div class="panel_body">
          <dl>
            <dt>术语一</dt>
            <dd>术语描述一</dd>
            <dt>术语二</dt>
            <dd>术语描述二</dd>
            <dt>术语三</dt>
            <dd>术语描述三</dd>
            <dt>术语四</dt>
            <dd>术语描述四</dd>
            <dt>术语五</dt>
            <dd>术语描述五</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info grid grid-4">
        <h5 class="panel_head">地址</h5>
        <div class="panel_body">
          <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
          </address>
        </div>
      </div>
    </div>
  </div><!-- / .container -->
</body>
</html>
