/* ==========================================================================
 * @author: zeyanzhang.china@gmail.com  (Syn Zhang)
 * ========================================================================== */

/* Panel
   ========================================================================== */

/*
面板组件

.panel                      - 面板组件基类。

  .panel-info               - 公告栏。
    .panel-info .panel_head - 公告栏头部。
    .panel-info .panel_body - 公告栏主体。

  .panel-ctrl               - 控制面板。
    .panel-ctrl fieldset    - 控制面板中的字段分组。
    .panel-ctrl label       - 控制面板中的字段名称。

No styleguide reference.
*/
.panel {
  border: 1px solid #fff;
  margin-bottom: 10px;
  padding: 8px 10px 0 10px;
}
.lt-ie8 .panel {
  padding: 8px 10px;
}

  .panel-info {
    border: 1px solid #c7d8ea;
    padding: 0;
  }
  .lt-ie8 .panel-info {
    padding: 0;
  }
    .panel-info .panel_head {
      background-color: #eef3f7;
      border-bottom: 1px solid #c7d8ea;
      color: #3a6ea5;
      font-size: 1em;
      height: 26px;
      line-height: 26px;
      margin: 0;
      padding: 0 10px;
    }
    .panel-info .panel_body {
      padding: 10px;
    }

  .panel-ctrl {
    background-color: #edf4ed;
    border-color: #c8daa3;
  }
    .panel-ctrl fieldset,
    .panel-ctrl .fieldset {
      border: 0;
      padding: 0;
    }
    .panel-ctrl .fieldset {
      margin-bottom: 8px;
    }
    .lt-ie8 .panel-ctrl fieldset,
    .lt-ie8 .panel-ctrl .fieldset {
      margin-bottom: 0;
    }
    .panel-ctrl label {
      font-weight: bold;
      vertical-align: middle;
    }
