/* ==========================================================================
 * @author: zeyanzhang.china@gmail.com  (Syn Zhang)
 * ========================================================================== */

/* Shame
   ========================================================================== */

/**
 * IE 6 <html> 默认显示纵向滚动条
 * 通过 iframe 嵌入一个页面，当内页的高度超过 iframe 高度时，会出现纵向滚动条，
 * 而在 IE 6 下除了垂直方向的滚动条外，由于页面宽度增加了纵向滚动条的宽度，因此
 * 还会出现水平方向的横向滚动条。所以默认显示纵向滚动条，在页面中保留纵向滚动条
 * 的宽度。
 */
.lt-ie7 { overflow-y: scroll; }

/* IE 6 下浮动元素浮动方向双倍 Margin */
.lt-ie7 .shame-dbmrgn { display: inline; }

/**
 * IE 6 使用 CSS 表达式模拟固定定位时的“振动”问题
 */
.lt-ie7, .lt-ie7 body {
  background-image: url(about:blank);
  background-attachment:fixed;
}

/* 暂时没想到什么好实现 */
.header .tab-nav {
  margin-top: 46px;
}

/* 修复 IE 8 下 Chosen 插件向上偏移 */
.lt-ie9 .chzn-container {
  vertical-align: middle;
}

/* IE 6 下侧边栏上方多出一些间距，暂找不出原因 */
.lt-ie7 .aside {margin-top: 0;}
